[Desktop Entry]
Name=NexSession
GenericName=NexSession
Comment=Audio Session Manager
Comment[fr]=Gestionnaire de sessions audios
Exec=nexsession
Icon=nexsession
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Qt;
